{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block content%}
<h1 style="visibility:hidden">simple place holder ;)</h1>
<div class="jumbotron">
<h1 class="display-4">About us</h1>
    <hr class="my-4">

    <div class="container">
        <!-- mathijs -->
        <div class = "row">
            <div class = "col nopadding">
            <h2>Group ESAT-5A2</h2>
            <p>We’re motivated students at the kuleuven in  Belgium studying engineering sciences and got the assignment from ESAT (Electrical enigineering departement) to make a smart grid to charge cars efficiently. At first we were stranger and the assignment was vague, but over time we got to know each other and became friends which came in handy to work on the project. Also the assignment became clearer and we got the vision and workflow to make this work.
                 We were very motivated to make this work because this contributes to a greener future. Not only did we learn about green charging but also working in a group environment which is something we're going have to do a lot when we become engineers and tackle bigger and more complex problems.
            </p>
            </div>
            <div class = "col nopadding">
                <img src="{{ url_for('static', filename='/imgs/groepsfoto.jpg') }}" style="height: 280px; width: auto;border: 4px solid black"/>
            </div>
        </div>
        
        <div class="row" >
            <div class = "col nopadding">
                
                <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                
                <img src="{{ url_for('static', filename='/imgs/pf1.jpg') }}" style="height: 130px; width: auto;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Mathijs Andries</h3>
                <h6 style = "color:rgb(89, 89, 89)">Machine learning engineer(consumption data), Full stack web development</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Completer finischer</h6>
            </div>

        </div>
        <!-- matti -->
        <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                <img src="{{ url_for('static', filename='/imgs/pf2.jpg') }}" style="height: 130px; width: auto;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Sebastian Weiermann</h3>
                <h6 style = "color:rgb(89, 89, 89)">Algorithm engineer, website integrator</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Plant, Specialist</h6>
            </div>

        </div>
        <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                <img src="{{ url_for('static', filename='/imgs/pf3.jpg') }}" style="height: 130px; width: auto;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Liam Duchene</h3>
                <h6 style = "color:rgb(89, 89, 89)">Algorithm engineer</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Implementer</h6>
            </div>

        </div>
    </div>



        <div class = "col nopadding">
            
        <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                <img src="{{ url_for('static', filename='/imgs/pf4.jpg') }}" style="height: 130px; width: 130px;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Matti Boelen</h3>
                <h6 style = "color:rgb(89, 89, 89)">Machine learning engineer(solar data), integration with website</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Resource investigator</h6>
            </div>

        </div>
        <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                <img src="{{ url_for('static', filename='/imgs/pf5.jpg') }}" style="height: 130px; width: auto;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Tom Goossens</h3>
                <h6 style = "color:rgb(89, 89, 89)">Machine learning engineer (Belpex prices data)</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Shaper, Monitor evaluator</h6>
            </div>

        </div>
        <div class = "row" style = "padding-top: 30px";>
            <div class = "col-4 nopadding">
                <img src="{{ url_for('static', filename='/imgs/pf6.jpg') }}" style="height: 130px; width: auto;border-radius: 50%;overflow: hidden;border: 2px solid black;box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)"/>
            </div>
            <div class = "col nopadding">
                <h3>Rafael Demaerel</h3>
                <h6 style = "color:rgb(89, 89, 89)">Algorithm engineer, website developer</h6>
                <h6 style = "color:rgb(119, 119, 119)">Belbin role: Co-ordinator</h6>
            </div>
        </div>
        </div>
    </div>


    </div>


{%endblock%}