{% extends "base.html" %}

{% block title %}Smart Grid Data - Demo{% endblock %}

{% block content %}
<div id = "alertId" class="alert alert-danger" role="alert" style="display: none; padding-left: none; padding-right: none;">
  <div class="row">
    <div class="col">
      <strong>Choose a date before proceeding!</strong>
    </div>
    <div class="col">
      <button type="button" onclick="dismiss()" aria-label="Close" style="height: 100%; float: right">Close</button>
    </div>
  </div>
</div>

<div cass="container-fluid">
<div class="row">
  <div class="col" style="padding-left: 2vw;">
      <form method="POST" id="calcData">
      <div id='firstRow' class="row justify-content-center" style="display: block;">
        <div class="col">
        <h1>Smart Grid Data <span class="badge bg-secondary">DEMO</span></h1>
          <div class="jumbotron" style="width: 92.083vmin;">
            <h1 class="display-4" style="font-size: 6.19vmin; padding-top: 0px;">Configure the calculation:</h1>
                <p class="lead" style="font-size: 3vmin;">DEMO</p>
                <hr class="my-4" style="padding-top: 0vh; padding-bottom: 0vh;  margin-top: 1vmin !important; margin-bottom: 1vmin !important;">
                    <div class="form-group">
                      <div class="row" style="padding-left: 2.8vmin; padding-right: 2.8vmin;">
                        <select class="form-select" aria-label="Default select example" id="typeOfCalculation" name="typeOfCalculation" style="width: fit-content; min-width: 82.5vmin;">
                          <option class='non-sim' value="0" selected><p style="font-size: 5vmin;">Choose the type of calculation you want to make</p></option>
                          <option class='non-sim' value="1"><p style="font-size: 5vmin;">Prediction of the energy consumption</p></option>
                          <option class='non-sim' value="2"><p style="font-size: 5vmin;">Prediction of the solar production</p></option>
                          <option class='non-sim' value="3"><p style="font-size: 5vmin;">Prediction of the electricity prices</p></option>
                          <option value="4"><p style="font-size: 5vmin;">Full simulation of charging</p></option>
                        </select>
                      </div>
                
                        <div class="row" style="padding-left: 2.8vmin; padding-right: 2.8vmin;">
                          <div class="col" style="float: left; padding-left: 0vmin; padding-right: 0vmin;">
                              <label for="startDate">Start</label>
                              <input value="2018-01-16" id="startDate" name="startDate" class="form-control" type="date" min="2018-01-16" max="2023-09-29"/>
                          </div>
                          <div class="col" id="endDateCol" style="margin-left: 0vmin; margin-right: 0vmin; padding-left: 0vh; padding-right: 0vh;">
                            <div class="row" style="float: right; margin-left: 0vh; margin-right: 0vh; padding-left: 0vh; padding-right: 0vh;">
                              <label for="endDate">End</label>
                              <input id="endDate" value="2018-01-16"  name="endDate" class="form-control" type="date" min="2018-01-16" max="2023-09-29"/>
                            </div>
                          </div>
                        </div>
                        <div class="row" id="aantalAutosRow" style="display: none;">
                          <div class="col">
                            <label for="aantalAutos">Choose the amount of cars that will arrive (between 1 and 6):</label>
                            <input value="" type="number" id="aantalAutos" name="aantalAutos" min="1" max="6" onkeydown="return event.key != 'Enter';">
                          </div>
                        </div>
                    </div>
                
                    <button id='other-button' type="button" onclick="submitForm()" class="btn btn-primary"style="height: 6.19vmin; text-align: center; justify-content: center;"><p style="font-size: 3.09vmin; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Run Calculation!</p></button>
                    <button onclick="proceedCalc()" type="button" id="full-sim-button" class="btn btn-primary" style="display: none; height: 6.19vmin; text-align: center; justify-content: center;"><p style="font-size: 3.09vmin; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Configure Cars</p></button>
                </hr>
          </div>
      </div>
      </div>
      <div id='secondRow' class="row justify-content-center" style="display: none; padding-top: 7vh;">
        <div class="col">
          <div class="container" style="background-color: aliceblue; border-radius: 5vmin; min-height: 80vh; padding: 3vmin;">
            <div class="row">
              <div class="col" style="height: 11vmin;">
                <h2 style="display: none; font-size: 3vmin; padding-left: 2vmin;">Car 1:</h2>
              </div>
              <div class="col" style="height: 11vmin; padding: 1vmin;">
                <h2 style="font-size: 3vmin; padding-bottom: 0px; height: 5vmin; padding-bottom: 1vmin;">Type of Car:</h2>
                <p class = 'uitleg1'style="font-size: 2vmin; padding-top:0px; padding-bottom: 0px; height: 2.5vmin;">Hybrid: x kwh</p>
                <p class="uitleg2" style="font-size: 2vmin; padding-top:0px; padding-bottom: 0px; height: 2.5vmin">Electrical: y kwh</p>
              </div>
              <div class="col" style="padding: 1vmin;">
                <h2 style="font-size: 3vmin;">Battery Percentage at arrival</h2>
              </div>
              <div class="col" style="padding: 1vmin;">
                <h2 style="font-size: 3vmin;">Desired Battery Percentage at departure</h2>
              </div>
              <div class="col" style="padding: 1vmin;">
                <h2 style="font-size: 3vmin;">Time of arrival</h2>
                <h2 style="font-size: 3vmin; transform: translate(0, -1vh); padding-top: 0.3vh;">Time of Departure</h2>
              </div>
            </div>
            <div>
              <div id="autosOutput"></div>
              <div class="row" style="padding-top: 4vmin;">
                <div class="col-10" style="padding-left: 2vmin;">
                  <button id='submit-fullsim' type="button" onclick="submitForm()" class="btn btn-primary" style="padding-left: 0vmin; height: 6.19vmin; text-align: center; justify-content: center;"><p style="font-size: 3.09vmin; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Run Calculation!</p></button>
                </div>
                <div class="col-1" style="padding-right: 2vmin;">
                  <a id="back" href="/demo" class="btn btn-primary" type="button" style="padding-right:1vmin; padding-left: 0vmin; height: 6.19vmin; text-align: center; justify-content: center;"><p style="font-size: 3.09vmin; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Back</p></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>

  <div class="generalStatistics col" style="padding-left: 1.5vw">
    <h1>Metrics:</h1>
    <div>
      <h3>Predicted cost of Smart Charging</h3>
      {{predicted_smart_cost}}
      <h3>Real cost of Smart Charging:</h3>
      {{real_smart_cost}}
      <h3>Predicted cost of Dumb Charging</h3>
      {{predicted_dumb_cost}}
      <h3>Real cost of Dumb Charging:</h3>
      {{real_dumb_cost}}
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col">
        <h1>Smart charging scheme:</h1>
        {% for ys in smart %}
          <div class="row">
            <div class="col">
              <canvas id="myChartS{{loop.index}}"></canvas>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="col">
      <h1>Dumb charging scheme:</h1>
        {% for ys in dumb %}
          <div class='row'>
            <div class="col">
              <canvas id="myChartD{{loop.index}}"></canvas>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <canvas id="powersmart"></canvas>
    </div>
    <div class="col">
      <canvas id="powerdumb"></canvas>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer>
  const labels = {{ xs | tojson}};
</script>
{% for ys in smart %}
<script defer>

  const dataS{{loop.index}} = {
      labels: labels,
      datasets: [{
          label: 'Charge Smart',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ ys | tojson}},
      }
    ]
  };

  const configS{{loop.index}} = {
      type: 'bar',
      data: dataS{{loop.index}},
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: 'kWh'
            }
          }
        }
      }
  };

  const myChartS{{loop.index}} = new Chart(
      document.getElementById('myChartS{{loop.index}}'),
      configS{{loop.index}}
  );

</script>
{% endfor %}

{% for ys in dumb %}
<script defer>

  const dataD{{loop.index}} = {
      labels: labels,
      datasets: [{
          label: 'Charge Dumb',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ ys | tojson}},
      }
    ]
  };

  const configD{{loop.index}} = {
      type: 'bar',
      data: dataD{{loop.index}},
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: 'kWh'
            }
          }
        }
      }
  };

  const myChartD{{loop.index}} = new Chart(
      document.getElementById('myChartD{{loop.index}}'),
      configD{{loop.index}}
  );

</script>
{% endfor %}

<script defer>

  const dataPS = {
      labels: labels,
      datasets: [{
          label: 'Power use of Smart charging',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ power_smart | tojson}},
      }
    ]
  };

  const configPS = {
      type: 'bar',
      data: dataPS,
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: 'kWh'
            }
          }
        }
      }
  };

  const myChartPS = new Chart(
      document.getElementById('powersmart'),
      configPS
  );

</script>

<script defer>

  const dataPD = {
      labels: labels,
      datasets: [{
          label: 'Power use of Dumb Charging',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ power_dumb | tojson}},
      }
    ]
  };

  const configPD = {
      type: 'bar',
      data: dataPD,
      options: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          y: {
            title: {
              display: true,
              text: 'kWh'
            }
          }
        }
      }
  };

  const myChartPD = new Chart(
      document.getElementById('powerdumb'),
      configPD
  );

</script>

{% endblock %}