{% extends "base.html" %}

{% block title %}Smart Grid Data - Demo{% endblock %}

{% block content %}
<div id = "alertId" class="alert alert-danger" role="alert" style="display: none; padding-left: none; padding-right: none;">
  <div class="row">
    <div class="col">
      <strong>Choose a date before proceeding!</strong>
    </div>
    <div class="col">
      <button type="button" onclick="dismiss()" aria-label="Close" style="height: 100%; float: right">Close</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <form method="POST">
  <div id='firstRow' class="row justify-content-center" style="display: block;">
    <div class="col">
    <h1>Smart Grid Data <span class="badge bg-secondary">DEMO</span></h1>
      <div class="jumbotron" style="width: 92.083vmin;">
        <h1 class="display-4" style="font-size: 6.19vmin; padding-top: 0px;">Configure the calculation:</h1>
            <p class="lead" style="font-size: 3vh;">DEMO</p>
            <hr class="my-4" style="padding-top: 0vh; padding-bottom: 0vh;  margin-top: 1vmin !important; margin-bottom: 1vmin !important;">
                <div class="form-group">
                  <div class="row" style="padding-left: 2.8vmin; padding-right: 2.8vmin;">
                    <select class="form-select" aria-label="Default select example" id="typeOfCalculation" name="typeOfCalculation" style="width: fit-content; min-width: 82.5vmin;">
                      <option class='non-sim' value="0" selected><p style="font-size: 5vmin;">Choose the type of calculation you want to make</p></option>
                      <option class='non-sim' value="1"><p style="font-size: 5vmin;">Prediction of the energy consumption</p></option>
                      <option class='non-sim' value="2"><p style="font-size: 5vmin;">Prediction of the solar production</p></option>
                      <option class='non-sim' value="3"><p style="font-size: 5vmin;">Prediction of the electricity prices</p></option>
                      <option value="4"><p style="font-size: 5vmin;">Full simulation of charging</p></option>
                    </select>
                  </div>
            
                    <div class="row" style="padding-left: 2.8vmin; padding-right: 2.8vmin;">
                      <div class="col" style="float: left; padding-left: 0vh; padding-right: 0vh;">
                          <label for="startDate">Start</label>
                          <input value="" id="startDate" name="startDate" class="form-control" type="date" min="2018-01-16" max="2023-09-29"/>
                      </div>
                      <div class="col" id="endDateCol" style="margin-left: 0vh; margin-right: 0vh; padding-left: 0vh; padding-right: 0vh;">
                        <div class="row" style="float: right; margin-left: 0vh; margin-right: 0vh; padding-left: 0vh; padding-right: 0vh;">
                          <label for="endDate">End</label>
                          <input id="endDate" name="endDate" class="form-control" type="date" min="2018-01-16" max="2023-09-29"/>
                        </div>
                      </div>
                    </div>
                    <div class="row" id="aantalAutosRow" style="display: none;">
                      <div class="col">
                        <label for="aantalAutos">Choose the amount of cars that will arrive (between 1 and 6):</label>
                        <input value="" type="number" id="aantalAutos" name="aantalAutos" min="1" max="6">
                      </div>
                    </div>
                </div>
            
                <button id='other-button' type="submit" class="btn btn-primary"style="height: 6.19vh; text-align: center; justify-content: center;"><p style="font-size: 3.09vh; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Run Calculation!</p></button>
                <button onclick="proceedCalc()" type="button" id="full-sim-button" class="btn btn-primary" style="display: none; height: 6.19vh; text-align: center; justify-content: center;"><p style="font-size: 3.09vh; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Configure Cars</p></button>
            </hr>
      </div>
  </div>
  <div class="col">
      <h1>Results:</h1>
      <div style="height: 70vh; width: 80%;">
        <canvas id="myChart"></canvas>
      </div>
  </div>
  </div>
  <div id='secondRow' class="row justify-content-center" style="display: none; padding-top: 7vh;">
    <div class="col">
      <div class="container" style="background-color: aliceblue; border-radius: 5vh; height: 80vh; padding: 3vh;">
        <div class="row">
          <div class="col" style="height: 11vmin;">
            <h2 style="display: none; font-size: 3vmin; padding-left: 2vmin;">Car 1:</h2>
          </div>
          <div class="col" style="height: 11vmin; padding: 1vmin;">
            <h2 style="font-size: 3vmin; padding-bottom: 0px; height: 5min; padding-bottom: 1vmin;">Type of Car:</h2>
            <p class = 'uitleg1'style="font-size: 2vmin; padding-top:0px; padding-bottom: 0px; height: 2.5vmin;">Hybrid: x kwh</p>
            <p class="uitleg2" style="font-size: 2vmin; padding-top:0px; padding-bottom: 0px; height: 2.5vmin">Electrical: y kwh</p>
          </div>
          <div class="col" style="padding: 1vmin;">
            <h2 style="font-size: 3vmin;">Battery Percentage at arrival</h2>
          </div>
          <div class="col" style="padding: 1vmin;">
            <h2 style="font-size: 3vmin;">Desired Battery Percentage at departure</h2>
          </div>
          <div class="col" style="padding: 1vmin;">
            <h2 style="font-size: 3vmin;">Time of arrival</h2>
            <h2 style="font-size: 3vmin; transform: translate(0, -1vh); padding-top: 0.3vh;">Time of Departure</h2>
          </div>
        </div>
        <div>
          <div id="autosOutput"></div>
          <div class="row" style="padding-top: 4vmin;">
            <div class="col-11" style="padding-left: 2vmin;">
              <button id='submit-fullsim' type="submit" class="btn btn-primary" style="padding-left: 0vmin; height: 6.19vh; text-align: center; justify-content: center;"><p style="font-size: 3.09vh; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Run Calculation!</p></button>
            </div>
            <div class="col-1" style="padding-right: 2vmin;">
              <a id="back" href="/demo" class="btn btn-primary" type="button" style="padding-right:0vmin; padding-left: 0vmin; height: 6.19vh; text-align: center; justify-content: center;"><p style="font-size: 3.09vh; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Back</p></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>

{% if soort == 'consumptie' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer>
  const labels = {{ datums | tojson}};

  const data = {
      labels: labels,
      datasets: [{
          label: 'EnergieConsumptie - Voorspeld',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ result | tojson}},
      },
      {
          label: 'EnergieConsumptie - Werkelijk',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ werkelijk | tojson}},
      }
    ]
  };

  const config = {
      type: 'line',
      data: data,
      options: { maintainAspectRatio: false }
  };

  const myChart = new Chart(
      document.getElementById('myChart'),
      config
  );

</script>
{% endif %}
{% if soort == 'productie' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer>
  const labels = {{ datums | tojson}};

  const data = {
      labels: labels,
      datasets: [{
          label: 'SolarProductie - Voorspeld',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ result | tojson}},
      },
      {
          label: 'SolarProductie - Werkelijk',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ werkelijk | tojson}},
      }
    ]
  };

  const config = {
      type: 'line',
      data: data,
      options: { maintainAspectRatio: false }
  };

  const myChart = new Chart(
      document.getElementById('myChart'),
      config
  );

</script>
{% endif %}
{% if soort == 'prijzen' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer>
  const labels = {{ datums | tojson}};

  const data = {
      labels: labels,
      datasets: [{
          label: 'Belpex spotprijzen - Voorspeld',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ result | tojson}},
      },
      {
          label: 'Belpex spotprijzen - Werkelijk',
          backgroundColor: 'rgb(51, 51, 255)',
          borderColor: 'rgb(51, 51, 255)',
          data: {{ werkelijk | tojson}},
      }
    ]
  };

  const config = {
      type: 'line',
      data: data,
      options: { maintainAspectRatio: false }
  };

  const myChart = new Chart(
      document.getElementById('myChart'),
      config
  );

</script>
{% endif %}
{% endblock %}