{% extends "base.html" %}

{% block title %}Smart Grid Data{% endblock %}

{% block content %}
<div class="container-fluid" style="align-items: center; justify-content: center; padding-bottom: 12vmin;">
  <div class="row" style="justify-content: center;">
    <div class="lijst hidden col" style="justify-content: center; z-index: 2;">
      <h1 style="visibility:hidden; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">simple place holder ;)</h1>
          <div class="jumbotron" style="height: 65vh; width: 92.083vh; max-width: 100vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <h1 class="display-4" style="font-size: 6.19vh; height: 10.924vh; width: auto;">Using Smart Grid Data to minimize electricity costs!</h1>
              <p class="lead" style="padding-top: 2vh; font-size: 3vh; padding-bottom: 0vh;">P&O3</p>
              <hr class="my-4" style="padding-top: 0vh; padding-bottom: 0vh;  margin-top: 1vh !important; margin-bottom: 1vh !important;">
              <p style="font-size: 2.66vh;">With the power of Machine Learning and state-of-the-art Data Optimization algorithms, we calculate the most efficient EV charging schedules to minimize electricity costs. <a href="/about">Learn more:</a></p>
              <a class="btn btn-primary btn-lg" href="/demo" role="button" style="height: 6.19vh; text-align: center; justify-content: center;"><p style="font-size: 3.09vh; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">Launch Demo</p></a>
          </div>
    </div>
    <div class="lijst hidden col-sm" style="justify-content: center;">
      <h1 style="visibility:hidden; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">simple place holder ;)</h1>
      <div class="parallax-holder" style="max-width: 100vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <div class="vignette"></div>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/achtergrond2.png') }}" data-speedx="0.0275" data-speedy="0.037" data-speedz="0" data-rotation="0" class="landing_parallax achtergrond"></img>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/koeltoren.png') }}" data-speedx="0.0275" data-speedy="0.03" data-speedz="0.200" data-rotation="0.06" class="landing_parallax koeltoren"></img>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/bos.png') }}" class="bos landing_parallax" data-speedx="0.0275" data-speedy="0.037" data-speedz="0" data-rotation="0"></img>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/windmolen.png') }}" data-speedx="0.025" data-speedy="0.025" data-speedz="0.200" data-rotation="0.07" class="landing_parallax windmolen"></img>
        <div class="text landing_parallax" data-speedx="0.0225" data-speedy="0.03" data-speedz="0.090" data-rotation="0.04">
          <h1>SmartCharge</h1>
        </div>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/straatlamp.png') }}" data-speedx="0.02" data-speedy="0.018" data-speedz="0.15" data-rotation="0.02"class="landing_parallax straatlamp"></img>
        <img src = "{{ url_for('static', filename='/imgs/landing_parallax/auto.png') }}" data-speedx="0.018" data-speedy="0.025" data-speedz="0.07" data-rotation="0.007" class="landing_parallax auto"></img>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="align-items: center; justify-content: center; background-color: #FFFFFF;">
  <h1 style="padding-top: 4vmin; font-size: 8vmin; text-align: center; text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.32);">The power of Machine Learning utilised!</h1>
  <p class="hidden2" style="padding: 4vmin; padding-top: 0vh !important; font-size: 4vmin; text-align: center;">With the Smart Grid Data project, we implement the newest advancements of Machine Learning and Data Optimization
    to create a real-world-impact! As Team ESAT5A2, we firmly believe in the efficient usage of green-power.
  </p>
</div>

<div class="parallax" style="justify-content: center; align-items: center; height: 45vh !important;">
  <div class="container" style="padding-top: 13.75vh;">
  <h1 style="padding-top: 0vh; vertical-align: middle; font-size: 7.5vh; color: #FFFFFF; text-align: center; text-shadow: 5px 2px 9px rgba(0, 0, 0, 0.91);">Let's make green energy more attractive!</h1>
  <p style="padding-top: 0vh; font-size: 3.75vh; color:white; font-weight: bold; text-align: center; vertical-align: middle; text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.17);">Helping the world by making green energy the most cost-efficient energy source</p>
  </div>
</div>

<div class="container-fluid">
  <h1 style="font-size: 7.5vh; padding-top: 5vh; text-align: center; text-shadow: 3px 0px 6px rgba(0, 0, 0, 0.32);">Technologies used in this project:</h1>
  <div class="row container" style="padding-top: 5vh;">
    <div class="col d-flex justify-content-center">
      <a href="https://www.python.org/" style = 'position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);'>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" style="height: 25vh; width: auto;"></img>
      </a>
    </div>
    <div class="col d-flex justify-content-center">
      <a href="https://keras.io/" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <img src="https://victorzhou.com/static/c309c4c6a7bbdb43cf1f290786ce47ab/39600/keras-logo.png" style="height: 25vh; width: auto; padding-left: 20px;"></img>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 20vh;">
  <p style="font-size: 3vh; padding-top: 5vh; text-align: center;">Credits to Sebastian, Rafael, Tom, Matti, Liam and Mathijs</p>
</div>
{% endblock %}