{% extends "base.html" %}

{% block title %}Machine Learning{% endblock %}

{% block content%}
<h1 style="visibility:hidden">simple place holder ;)</h1>
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
    <div class="jumbotron" style= "width: auto; padding-left: 5%; padding-right: 5%;">
        <h1 class="display-4" style="font-size: 40px; height: 50px; width: auto;">About the Machine Learning</h1>
            <p class="lead">Time-Series Forecasting</p>
            <hr class="my-4">
            <p>In this project, the Data needed as input for the optimization algorithm is being predicted via Deep Learning. </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rEDzUT3ymw4?si=sVoba9u0vMJkat61" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

{%endblock%}