{% extends "base.html" %}

{% block title %}Machine Learning{% endblock %}

{% block content%}
<h1 style="visibility:hidden">simple place holder ;)</h1>
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
    <div class="jumbotron" style="height: 350px; width: auto; padding-left: 5%; padding-right: 5%;">
        <h1 class="display-4" style="font-size: 40px; height: 50px; width: auto;">About the Machine Learning</h1>
            <p class="lead">Time-Series Forecasting</p>
            <hr class="my-4">
            <p>In this project, the Data needed as input for the optimization algorithm is being predicted via Deep Learning.</p>
    </div>
</div>

{%endblock%}