.autoOpties{
    padding-left: 5vmin;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}

.soort-auto{
    position: absolute;
    top: 50%;
    transform: translate(0vh, calc(-50%));
    width: 14.28vmin;
}

.inputPercentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), calc(-50%));
    transition: 0.67s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    width: 18vmin;
}

.outputPercentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), calc(-50%));
    transition: 0.67s cubic-bezier(0.2, 0.49, 0.32, 0.99);
    width: 18vmin;
}

.sliderValue{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 6vmin), calc(-50% - 4vmin));
}

.aankomstVertrekHolder{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - 2vmin), calc(-50%));
}

.uitleg1{
    top: 50%;
    transform: translate(0px, calc(-50% - 1vh)); 
}

.uitleg2{
    top: 50%;
    transform: translate(0px, calc(-50% - 3vh)); 
}